.artist{
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.3em;
    cursor: pointer;
}

.artist-name{
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
    font-weight: 600;    
}

.artist-fans{
    font-size: 12px;
}

.artist-picture{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
    background: $grey-light;
    border: 1px solid $border-color;
    display: block;
    transition: all 0.2s linear;  
    
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transform: scale(1.02);
    }    
} 